<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@ViewBag.Title </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"></p>
                </div>
                <div class="float-right">
                    <nav>
                        @*<ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>*@
                        <nav class="menu-opener">
                            <div class="menu-opener-inner"></div>
                        </nav>
                        <nav class="menu">
                            <ul class="menu-inner">
                                <a href="Home/Index" class="menu-link">
                                    <li>Home</li>
                                </a>
                                <a href="#" class="menu-link">
                                    <li>Services</li>
                                </a>
                                <a href="#" class="menu-link">
                                    <li>Contact</li>
                                </a>
                            </ul>
                        </nav>
                        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
                        <script src="menu-opener.js"></script>
                        <script class="cssdeck">
                        $(".menu-opener").click(function () {
                            $(".menu-opener, .menu-opener-inner, .menu").toggleClass("active");
                        });
                        </script>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>Copyright &copy; @DateTime.Now.Year </p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
